[Unit]
 Description=Internal camera stream server

[Service]
 User=birdmin
 WorkingDirectory=/home/birdmin/stream-server
 ExecStart=/usr/bin/python3 /home/birdmin/stream-server/stream-server.py >>stream-server.log  2>&1
 Restart=always

[Install]
 WantedBy=multi-user.target
